.main-container-glide data-controller="carousel-component" style="height: fit-content; overflow: hidden;"
  .glide.multi
    .glide__track data-glide-el="track"
      ul.glide__slides
        - @images.each do |image|
          li = image_tag image, class: 'glide__slide'


css:
  .glide__slides {
    min-height: 400px;
  }

  @media only screen and (max-width: 768px) {
    .main-container-glide {
      margin-left: 0;
      margin-right: 0;
    }

    .glide__slides li img {
      display: block;
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
    }
  }

  @media only screen and (min-width: 768px) {
    .main-container-glide {
      margin-left: -10%;
      margin-right: -10%;
    }

    .glide__slides li img {
      display: block;
      object-fit: cover;
    }

    .glide__slides {
      max-height: 80vh;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
